* {
  font-family: 'Do Hyeon', sans-serif;
}

h1 {
  text-transform: unset;
}

b {
  color: #61DBFB;
}

input {
  font-size: 1rem!important;
}

.card-body, .crd {
  padding: 0;
}

.card-header {
  text-transform: capitalize;
  text-align: center;
}

.copyUrl {
  /* display: none; */
  height: 0px;
  width: 0px;
  opacity: 0;
}